{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
  },
  "rules": {
    "no-unused-vars": ["warn", { "vars": "all", "args": "after-used" }],
    "no-plusplus": ["warn", { "allowForLoopAfterthoughts": true }],
    "no-shadow": "warn",
    "operator-assignment": "warn",
    "no-param-reassign": "warn",
    "import/no-extraneous-dependencies": ["warn", {"devDependencies": false, "optionalDependencies": false, "peerDependencies": false}],
    "arrow-body-style": "warn",
    "no-new": "warn",
    "comma-dangle": "warn",
    "no-undef": "warn",
  }
}
